.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.header-text{
	font-size: 48px;
	color: #E96943;
	text-align: center;
	padding-bottom: 16px;
}

.email-header-text{
	font-size: 24px;
	color: #242424;
	padding-bottom: 8px;
}

.email-input{
    width: 200px;
    margin-right: 8px;
}