<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<title>Journey Fitness</title>
	<style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
</head>
<body>
	<div [class.is-hidden]="isEmailVerification != true">
		<div class="center">
			<form #f="ngForm" (ngSubmit)="onSubmit(f)">
		  		<div class="header-text"><b>Journey Fitness</b></div>
		  		<div class="email-header-text"><b>Email Verification </b></div>
		  		<div [class.is-hidden]="!isEmailInputPrompt">
		  			<div>Enter the email you signed up with to </div>
		  			<div style="padding-bottom: 16px;">complete the verification process</div>
		  			<input
			  		class="email-input form-control"
			  		[(ngModel)]="email"
			  		name="email"
			  		required
			  		type="text">

			  		<button class="btn btn-primary">Submit</button>
		  		</div>
		  		<div [class.is-hidden]="emailVerified == null">
		  			<div [class.is-hidden]="emailVerified != true">Email Verification Success</div>
		  			<div [class.is-hidden]="emailVerified != false">Email Verification Failed</div>
		  		</div>
	  		</form>
		</div>
	</div>
</body>
</html>