.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.app-name-text{
	font-size: 48px;
	color: #E96943;
}

.tagline-text{
	font-size: 32px;
	color: #242424;
	text-align: center;
}