.app-name-text{
	font-size: 48px;
	color: #E96943;
	font-family: sans-serif;
}

.tagline-text{
	font-size: 32px;
	color: #242424;
	text-align: center;
	font-family: sans-serif;
}

.register-text{
	font-size: 18px; 
	font-family: sans-serif;
	padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-50{
	display: inline-block;
	width: 50%;
}

.alert {
		margin-top:  2px;
		margin-left: 2px;
    color: red;
}

.email-confirmation {
	margin-top:  2px;
	margin-left: 2px;
}